{% extends 'base.html' %}

{% block title %}

    Register New Cafe - Cafe & Wifi

{% endblock %}

{% macro create_input(form_item, placeholder) %}
    {{
        form_item(class_="form-control" + (' is-invalid' if form_item.errors else ''),
        placeholder=placeholder)
    }}
{% endmacro %}

{% macro create_error_message(form_item) %}
    {% if form_item.errors %}
        <div class="mb-3 text-end text-danger error-message" id="{{ form_item.id }}-error">
            * {{ form_item.errors[0] }}
        </div>
    {% endif %}
{% endmacro %}

{% macro get_form_endpoint() %}
    {% if request.path == '/cafe' %}
        {{ url_for('views.create_cafe') }}
    {% elif request.path.startswith('/edit-cafe/') %}
        {{ url_for('views.edit_cafe', cafe_id=form.id.data) }}
    {% endif %}
{% endmacro %}

{% block content %}

    <h1 class="cursive fs-1 text-center">{{'Register new cafe' if request.path == '/cafe-create' else 'Edit cafe' }}</h1>

    <form method="POST" action="{{ get_form_endpoint() }}" class="col-12 col-lg-6 mx-auto mt-3 rounded-3 shadow-lg p-4" novalidate>

        {{ form.csrf_token }}

        {{ form.id }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="name">{{ form.name.label }}</label>
            {{ create_input(form_item=form.name, placeholder="Enter cafe name") }}
        </div>

        {{ create_error_message(form.name) }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="location">{{ form.location.label }}</label>
            {{ create_input(form_item=form.location, placeholder="Enter cafe location") }}
        </div>

        {{ create_error_message(form.location) }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="img_url">{{ form.img_url.label }}</label>
            {{ create_input(form_item=form.img_url, placeholder="https://lh3.googleusercontent.com/p/...") }}
        </div>

        {{ create_error_message(form.img_url) }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="map_url">{{ form.map_url.label }}</label>
            {{ create_input(form_item=form.map_url, placeholder="https://goo.gl/maps/...") }}
        </div>

        {{ create_error_message(form.map_url) }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="coffee_price">{{ form.coffee_price.label }}</label>
            {{ create_input(form_item=form.coffee_price, placeholder="e.g.: £2.80") }}
        </div>

        {{ create_error_message(form.coffee_price) }}

        <div class="input-group mb-3">
            <label class="d-block text-center input-group-text col-4 col-md-3" for="seats">{{ form.seats.label }}</label>
            {{ form.seats(class_="form-select") }}
        </div>

        {% for option in (form.has_sockets, form.has_toilet, form.has_wifi, form.can_take_calls) %}

            <div class="mb-3 d-flex align-items-center justify-content-between">

                <span class="fs-5">{{ option.label }}</span>

                <div class="btn-group btn-group-lg" role="group">

                    {% for subfield in option %}

                        {{ subfield(class_="btn-check") }}

                        {{ subfield.label(class_='btn btn-outline-' + ('success' if subfield.data else 'danger')) }}

                    {% endfor %}

                </div>

            </div>

        {% endfor %}

        <div class="d-grid pt-3">

            <input
                class="btn btn-dark btn-lg"
                id="submit"
                name="submit"
                type="submit"
                value="{{'Register' if request.path == '/cafe-create' else 'Edit' }}"
            >

        </div>

    </form>

{% endblock %}