{% extends 'base.html' %}

{% block title %}

    {{ cafe.name }} - Cafe & Wifi

{% endblock %}

{% block style %}
    .cafe-header
    {
        background: #fff url({{ cafe.img_url }}) no-repeat center center;
        background-size: cover;
    }
{% endblock %}

{% block content %}

    {% if cafe %}

        <div class="col-12 col-lg-6 mx-auto mt-5 shadow-lg">

            <div class="cafe-header d-flex justify-content-between rounded">

                <div class="text-bg-dark w-100 rounded-start">
                    <h1 class="fs-3">{{ cafe.name }}</h1>
                    <p class="fs-5">{{ cafe.location }}</p>
                </div>

                <a href="{{ url_for('views.delete_cafe', cafe_id=cafe.id) }}">
                    <button type="button" class="btn btn-danger del-button h-100 p-0" id="del-button">Delete</button>
                </a>

                <a href="{{ url_for('views.edit_cafe', cafe_id=cafe.id) }}">
                    <button type="button" class="btn btn-secondary edit-button h-100 p-0">Edit</button>
                </a>
            </div>

            <main class="d-flex flex-row align-items-center cafe-info p-5">

                <div class="me-4">

                    <a href="{{ cafe.map_url }}" target="_blank">
                        <button type="button" class="btn btn-lg btn-outline-dark text-nowrap">View on Map</button>
                    </a>

                </div>

                <table class="table m-3">

                    <tbody>

                        <tr>
                            <th scope="row">Coffee Price</th>
                            <td>{{ cafe.coffee_price }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Seats</th>
                            <td>{{ cafe.seats }}</td>
                        </tr>

                        {% for text, check in (('Has sockets', cafe.has_sockets),
                                               ('Has toilet', cafe.has_toilet),
                                               ('Has wifi', cafe.has_wifi),
                                               ('Can take calls', cafe.can_take_calls)) %}

                            <tr>
                                <th scope="row">{{ text }}</th>
                                <td>{{ '✔' if check else '❌' }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </main>

        </div>

    {% endif %}

{% endblock %}