{% extends 'base.html' %}

{% block title %}Home - Cafe & Wifi{% endblock %}

{% block content %}

    {% if pagination and pagination.total > 0 %}

        <div class="d-flex justify-content-between align-items-center mb-3">

            <h1 class="cursive">Cafes</h1>

            <div class="d-inline">
                <span class="badge rounded-pill text-bg-dark fs-6">
                    {{ pagination.first }} - {{ pagination.last }} of {{ pagination.total }}
                </span>
            </div>

        </div>

        {% if request.path == '/search' and search_term %}

            <div class="d-flex justify-content-center align-items-center mb-3">

                <h4 class="text-center text-muted">Searching for: "{{ search_term }}"</h4>

            </div>

        {% endif %}

        <div class="cards cafes row w-100 m-0">

            {% for cafe in pagination.items %}

                <div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-4">

                    <div class="card w-100">

                        <img src="{{ cafe.img_url }}" class="card-img-top" alt="Interior of {{ cafe.name }}.">

                        <div class="card-body card-header">
                            <h5 class="card-title">{{ cafe.name }}</h5>
                            <p class="card-text">{{ cafe.location }}</p>
                        </div>

                        <ul class="list-group list-group-flush p-2">

                            {% for text, check in (('Has sockets', cafe.has_sockets),
                                                   ('Has toilet', cafe.has_toilet),
                                                   ('Has wifi', cafe.has_wifi),
                                                   ('Can take calls', cafe.can_take_calls)) %}

                                <li class="list-group-item w-100 d-flex justify-content-between px-5">
                                    <span>{{ text }}:</span>
                                    {% if check %}
                                        <span class="fa-solid fa-check text-success"></span>
                                    {% else %}
                                        <span class="fa-solid fa-ban text-danger"></span>
                                    {% endif %}
                                </li>

                            {% endfor %}

                        </ul>

                        <div class="card-body">
                            <a
                                href="{{ url_for('views.view_cafe', cafe_id=cafe.id) }}"
                                class="card-link"
                            >
                                <button type="button" class="btn btn-lg btn-outline-dark text-nowrap w-100">View</button>
                            </a>
                        </div>

                    </div>

                </div>

            {% endfor %}

            <nav class="row w-100 m-0">

                <ul class="pagination pagination-lg justify-content-center">

                    <li class="page-item page-navigation-button{{ '' if pagination.has_prev else ' disabled' }}">

                        {% if search_term and search_term != '' %}
                            <a
                                class="page-link"
                                href="{{ url_for('views.search_for', page=pagination.prev_num, search_term=search_term) if pagination.has_prev else '#' }}"
                                aria-label="Previous"
                            >
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <a
                                class="page-link"
                                href="{{ url_for('views.home', page=pagination.prev_num) if pagination.has_prev else '#' }}"
                                aria-label="Previous"
                            >
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>

                    {% for number in pagination.iter_pages() %}

                        {% if number %}

                            {% if number != pagination.page %}

                                <li class="page-item page-item-inner">
                                    {% if search_term and search_term != '' %}
                                        <a
                                            class="page-link"
                                            href="{{ url_for('views.search_for', page=number, search_term=search_term) }}"
                                        >{{ number }}</a>
                                    {% else %}
                                        <a
                                            class="page-link"
                                            href="{{ url_for('views.home', page=number) }}"
                                        >{{ number }}</a>
                                    {% endif %}
                                </li>

                            {% else %}

                                <li class="page-item page-item-inner disabled">
                                    <span class="page-link">{{ number }}</span>
                                </li>

                            {% endif %}

                        {% else %}

                            <li class="page-item page-item-inner disabled">
                                <span class="page-link ellipsis">...</span>
                            </li>

                        {% endif %}

                    {% endfor %}

                    <li class="page-item page-navigation-button{{ '' if pagination.has_next else ' disabled' }}">
                        {% if search_term and search_term != '' %}
                            <a
                                class="page-link"
                                href="{{ url_for('views.search_for', page=pagination.next_num, search_term=search_term) if pagination.has_next else '#' }}"
                                aria-label="Next"
                            >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <a
                                class="page-link"
                                href="{{ url_for('views.home', page=pagination.next_num) if pagination.has_next else '#' }}"
                                aria-label="Next"
                            >
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>

                </ul>

            </nav>

        </div>

    {% else %}

        <div class="d-flex flex-column justify-content-between mb-3">

                {% if search_term and search_term != '' %}

                    <h4 class="text-center text-muted">
                        No results were found for "{{ search_term }}".
                    </h4>

                    <form class="d-flex mt-5" action="{{ url_for('views.search_for') }}">
                        <input class="form-control me-3" type="search" placeholder="Search for something else" name="search_term">
                        <button class="btn btn-dark col-3 col-md-2" type="submit">Search</button>
                    </form>

                    <a href="{{ url_for('views.home') }}" class="mt-5 w-25">
                        <button
                            class="btn btn-outline-dark w-100"
                        >Return to home</button>
                    </a>

                {% else %}

                    <h4 class="text-center text-muted mt-5">
                        There are, currently, no cafes to display.
                    </h4>

                {% endif %}

        </div>

    {% endif %}

{% endblock %}
