.btn
{
    transition: all .7s;
}

.cafe-header .text-bg-dark
{
    opacity: 0.8;
    padding: 1.5rem;
    transition: all 2s;
}

.cafe-header .text-bg-dark:hover
{
    opacity: 0;
}

.cafe-header .del-button
{
    border-radius: 0;
}

.cafe-header .edit-button
{
    border-radius: 0 6px 6px 0;
}

.cafe-header button
{
    width: 4rem;
}

.card-header
{
    height: 6rem;
}

.card-img-top
{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.del-icon
{
    cursor: pointer;
    transform: translate(-60%, 30%);
}

.main-content
{
    padding-top: 75px;
}

.page-navigation-button
{
    width: 7rem;
}

.side-img
{
    height: 100%;
    object-fit: cover;
}

.table td
{
    text-align: end;
}

#message-modal-body li
{
    list-style: none;
}

@media only screen and (max-width: 576px)
{
    .cafe-info
    {
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 768px)
{
    /*
        Disables pagination's inner numbers on small screen devices.
    */
    .page-item-inner
    {
        display: none;
    }

    .card-img-top
    {
        height: 20vh;
    }
}