@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

body,
html
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cursive
{
    font-family: 'Beau Rivage', cursive;
}

.btn
{
    transition: all .7s;
}

.cafe-header .text-bg-dark
{
    opacity: 0.8;
    padding: 1.5rem;
    transition: all 2s;
}

.cafe-header .text-bg-dark:hover
{
    opacity: 0;
}

.cafe-header .del-button
{
    border-radius: 0;
}

.cafe-header .edit-button
{
    border-radius: 0 6px 6px 0;
}

.cafe-header button
{
    width: 4rem;
}

.card-header
{
    height: 6rem;
}

.card-img-top
{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.del-icon
{
    cursor: pointer;
    transform: translate(-60%, 60%);
}

.form-control:focus, .form-select:focus {
  border-color: #000000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.list-group span
{
    vertical-align: middle;
    line-height: 30px;
}

.logo
{
    width: 50px;
}

.main-content
{
    padding-top: 150px;
}

.navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
    transition: all .5s;
}

.send-button:hover
{
    color: green;
    transition: all .3s;
}

.side-img
{
    height: 100%;
    object-fit: cover;
}

.table td
{
    text-align: end;
}

#message-modal-body li
{
    list-style: none;
}

@media only screen and (max-width: 576px)
{
    .cafe-info
    {
        padding: 1rem !important;
    }
}

@media only screen and (max-width: 768px)
{

    .card-img-top
    {
        height: 20vh;
    }

    .error-img
    {
        width: 75%;
    }

    /*
        Disables pagination's inner numbers on small screen devices.
    */

    .page-item-inner
    {
        display: none;
    }

}